body{
    background-color: #ececec;
}

main{
    display: flex;
    flex-direction: column;
}

#createBtn{
    align-self: baseline;
}

#groups ul{
    border: 1px solid;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
}