@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f5f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/blob.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #1c1f26;
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    margin: 50px 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    background-color: #f9fafc;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    position: relative;
}

.app button{
    background-color: #348ff9;
    color: #fff;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    margin-top:10px ;
}
.app button:hover{
    background-color: aqua;
}
#createBtn{
    align-self: baseline;
}
#groups ul{
    border: 1px solid;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
}
input{
    padding: 7px 14px;
    border-radius: 5px;
    border: 1px solid aqua;
    margin: 8px 0px;
    font-size: 16px;
    width: 80%;
}
input:focus{
    outline: 2px solid aqua;
}
#nombresContainer{
       border: 1px solid aqua ;
       padding: 20px;
       margin-top: 10px;
       display: flex;
       flex-wrap: wrap;
       gap: 10px;
}

#resultadoGrupos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
}
.gruposSeparado{
    padding: 12px;
    margin-top: 10px;
    background-color: #348ff9;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border-radius: 7px;
}

#totalGrupos{
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bolder; 
}
.tituloGrupo{
    font-weight: bold;
}

#mensajeAlerta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: red;
    padding: 20px;
    display: none;
    border-radius: 5px;
    border: 2px solid red;
    text-align: center;
}

.imagen img{
    width: 100%;
    height: auto;
}

.btn.reset{
    background-color: #ea5e5d;
}
.btn.reset:hover{
    background-color: #f08888;
}

@media screen and (max-width: 1117px){
    input{
        width: 100%;
    }
}

@media screen and (max-width: 980px){
    main{
        flex-direction: column;
    }
}

@media screen and (max-width: 478px){
    body{
        font-size: 14px;
    }

    main{
        padding: 25px;
        gap: 10px;
    }

    input{
        font-size: 11.5px;
    }

    .app button{
        margin-top: 0;
    }
    #resultadoGrupos{
        gap: 5px;
        margin-top: 10px;
    }

    .gruposSeparado{
        font-size: 12px;
        margin-top: 0;
    }

    #totalGrupos{
        font-size: 12px;
    }

    #mensajeAlerta{
        padding: 10px ;
    }
}